﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Provide sufficient contrast against white background */

.table2 {
  border: 1px solid black;
  width: 50%;
}

.table2 th,
.table2 td {
  border: 1px solid black;
  color: black;
}

.table2 a {
  display: block;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.table2 a:hover {
  background-color: black;
  color: white;
}

.table1 {
  margin-left: 20px;
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
}

.table1 tr {
  border-bottom: 1px solid black;
}

h2 {
  padding-left: 20px;
  color: black;
  font-size: large;
  font-weight: bold;
}

.form1 {
  margin: 20px;
}