@model Lab2.Models.Recipe
@{
    ViewData["Title"] = "Add";
}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
<body>
   <form class = "form-group">
        <br>
            <label for="RecipeName">Recipe Name:</label>
        <br>
            <input type="text" class="form-control" id="RecipeName" name="RecipeName" value="@(Model.Name ?? String.Empty)"
            placeholder="Enter the recipe name" required="required">
        <br>
            <label for="Description">Description:</label>
        <br>
            <textarea class="form-control" id="Description" name="Description" rows="4" cols="50"
            placeholder="Enter the recipe description" required="required">@String.Concat(Model.Description)</textarea>
        <br/>
            <label for="Ingredients">Ingredients:</label>
        <br>
            <textarea class="form-control" id="Ingredients" name="Ingredients" rows="4" cols="50"
            placeholder="Enter the list of ingredients" required="required">@foreach (var item in Model.Ingredients)
            {
                @item.Name
                @item.Quantity
                @item.Unit
            }</textarea>
        </br>
        <div>
        <input type="submit" class="btn btn-primary my-1" name="applyRecipe" value="Apply"
        formaction="ApplyRecipe" formmethod="post"/>

        <input type="submit" class="btn btn-primary my-1" name="okRecipe" value="Ok"
        formaction="OkRecipe" formmethod="post"/>

        <input type="button" class="btn btn-primary my-1" value="Cancel" onclick="location.href='@Url.Action("cancelRecipe", "Home")'" />
        
        <input type="hidden" id="OldKey" name="OldKey" value="@(Model.Name ?? String.Empty)">
        </div>
    </form>
</body>
</html>