﻿@model List<Lab2.Models.Recipe>
@{
    ViewData["Title"] = "Recipes";
}

<html>
<body>

<form class="form-group">
  <ul class="list-group">
    <div class="d-flex justify-content-between align-items-center">
      <label>Recipes:</label>
      <input type="button" style="float: right; padding:10px;" class="btn btn-primary my-1" value="Add"
      onclick="location.href='@Url.Action("Add", "Home")'" />
    </div>
    <br>
  @foreach (var Recipe in Model)
  {
    <li class="list-group-item d-flex justify-content-between align-items-center">
      @Recipe.Name
      <div>
      <span class="badge badge-primary badge-pill">@Recipe.Ingredients.Count()</span>
      <input type="button" class="btn btn-primary my-1" value="delete"
      onclick="location.href='@Url.Action("Delete", "Home", new {RecipeName=@Recipe.Name})'" />
      <input type="button" class="btn btn-primary my-1" value="edit"
      onclick="location.href='@Url.Action("Edit", "Home", new {RecipeName=@Recipe.Name})'" />
      </div>
    </li>
  }
  </ul>
</form>

</body>
</html>
