@model Tuple<List<Lab2.Models.Recipe>, List<Ingredient>, string>
@{
    ViewData["Title"] = "Recipes";
}

<html>
<body>

<form class="form-group">
        <div class="d-flex justify-content-between align-items-center">
            <label for="EnterRecipes">Enter Recipes</label>
            <input type="submit" class="btn btn-primary my-1" name="Calculate" value="Calculate"
            formaction="CalculateIngredients" formmethod="post"/>
        </div>
            <textarea class="form-control" id="EnterRecipes" name="EnterRecipes" required="required" rows="4" cols="50">@Model.Item3</textarea>
        <br>
            <label for="ShoppingList">Shopping List</label>
        <br>
            <textarea disabled class="form-control" id="ShoppingList" name="ShoppingList" rows="4" cols="50">@foreach (var ingredient in Model.Item2)
            {
                @(ingredient.Name + ingredient.Quantity + ingredient.Unit);
            }</textarea>
        <br>
            <label for="KnownRecipes">Your Recipe List</label>
        <br>
            <textarea disabled class="form-control" id="KnownRecipes" name="KnownRecipes" rows="4" cols="50">@foreach (var Recipe in Model.Item1)
            {
                @(Recipe.Name + "\n");
            }</textarea>
</form>

</body>
</html>
